{% extends "base_generic.html" %}

{% block content %}

<h1>
    {{ book.title }}
</h1>

<p>
    <strong>Author:</strong>

    <a href="{{ book.author.get_absolute_url }}">
        {{ book.author }}
    </a>
</p>

<p>
    <strong>Summary:</strong>
    {{ book.summary }}
</p>

<p>
    <strong>ISBN:</strong>
    {{ book.isbn }}
</p>

<p>
    <strong>Language:</strong>
    {{ book.language }}
</p>

<p>
    <strong>Genre:</strong>

    {% for genre in book.genre.all %}

        {{ genre.name }}

        {% if not forloop.last %}
            ,
        {% endif %}

    {% endfor %}

</p>

{% endblock %}


{% block sidebar %}

    {{ block.super }}

    {% if perms.catalog.change_book or perms.catalog.delete_book %}

        <hr>

        <ul class="sidebar-nav">

            {% if perms.catalog.change_book %}

                <li>
                    <a href="{% url 'book-update' book.id %}">
                        Update book
                    </a>
                </li>

            {% endif %}

            {% if perms.catalog.delete_book %}

                <li>
                    <a href="{% url 'book-delete' book.id %}">
                        Delete book
                    </a>
                </li>

            {% endif %}

        </ul>

    {% endif %}

{% endblock %}